# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django stuff
*.log
local_settings.py
db.sqlite3

# Virtual environments
venv/
env/
.env/

# PyCharm / VSCode
.idea/
.vscode/

# Migrations (optional — if you want to commit them, remove this)
*/migrations/__pycache__/
*/migrations/*.pyc

# Static & media (if generated)
staticfiles/
media/

# OS files
.DS_Store
Thumbs.db
